.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    h1 {
        margin-left: 30px;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    color: white;
}

.header__btn {
    background-color: #128076;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.headder__btn_none {
    background-color: transparent;
} 

.header__user {
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
}